@page "/"

@using CatchPoint.Core
@inject ExceptionParser ExceptionParserService

<h1>Exception Parser</h1>

<div>Exception:</div>
<textarea style="width: 100%;" rows="5" @bind="ExceptionRaw"/>
<p class="formatted-exception">
    <span class="exception-type">@_exceptionDetails?.Type</span>
    <span class="exception-message">@_exceptionDetails?.Message</span>
    @if (_exceptionDetails?.StackTrace != null)
    {
        @foreach (var s in _exceptionDetails?.StackTrace)
        {
            <div>at <span class="exception-stacktrace">@s</span></div>
        }
    }
</p>

@code {
    private ExceptionDetails _exceptionDetails;
    private string _exceptionRaw;
    private string ExceptionRaw
    {
        get { return _exceptionRaw; }
        set
        {
            _exceptionRaw = value;
            _exceptionDetails = ExceptionParserService.Parse(_exceptionRaw);
        }
    }
}
